* {
	font-family: Arial, Verdana, serif;
	color: #ffff00;
}

body {
	background-color: #000000;
}

#game_start_note {
	visibility: hidden;
}
#game_midway_note {
	visibility: hidden;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.score {
	display: none;
}

th, td {
	padding: 15px;
}

#early {
	text-align: left;
	margin-left: 10%;
	float: left;
}
#late {
	text-align: right;
	margin-right: 10%;
	float: right;
}

.score-value {
	font-weight: 100;
}

/*
CSS for Graph
*/

.graph {
	width: 50%;
}
/* Start of "Micro clearfix" */
        
    .cf { zoom: 1; }
    .cf:before,
    .cf:after { content: ""; display: table; }
    .cf:after { clear: both; }
        
/* End of "Micro clearfix" */


.ext {
	width: 100%;
	padding: 5px 0;
}
.ext.neg {
	float: right;
	border-right: 1px solid black;
}
.ext.pos {
	clear: both;
	margin-left: 100%;
	border-left: 1px solid black;
}

.ext.neg .bar {
	float: right;
	background-color: red;
}

.ext.pos .bar {
	background-color: green;
}

.bar {
    height: 15px;
}