* {
	font-family: Arial, Verdana, serif;
	color: #ffff00;
}

body {
	background-color: #000000;
}

#game_start_note {
	visibility: hidden;
}
#game_midway_note {
	visibility: hidden;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.score {
	display: none;
}

th, td {
	padding: 15px;
}

#early {
	text-align: left;
	margin-left: 10%;
	float: left;
}
#late {
	text-align: right;
	margin-right: 10%;
	float: right;
}

.score-value {
	font-weight: 100;
}

.btn {
  background: #eb0000;
  background-image: -webkit-linear-gradient(top, #eb0000, #ad2323);
  background-image: -moz-linear-gradient(top, #eb0000, #ad2323);
  background-image: -ms-linear-gradient(top, #eb0000, #ad2323);
  background-image: -o-linear-gradient(top, #eb0000, #ad2323);
  background-image: linear-gradient(to bottom, #eb0000, #ad2323);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fc6f3c;
  background-image: -webkit-linear-gradient(top, #fc6f3c, #d96034);
  background-image: -moz-linear-gradient(top, #fc6f3c, #d96034);
  background-image: -ms-linear-gradient(top, #fc6f3c, #d96034);
  background-image: -o-linear-gradient(top, #fc6f3c, #d96034);
  background-image: linear-gradient(to bottom, #fc6f3c, #d96034);
  text-decoration: none;
}

/*
CSS for Graph
*/

.graph {
	width: 50%;
}
/* Start of "Micro clearfix" */
        
    .cf { zoom: 1; }
    .cf:before,
    .cf:after { content: ""; display: table; }
    .cf:after { clear: both; }
        
/* End of "Micro clearfix" */


.ext {
	width: 100%;
	padding: 5px 0;
}
.ext.neg {
	float: right;
	border-right: 1px solid black;
}
.ext.pos {
	clear: both;
	margin-left: 100%;
	border-left: 1px solid black;
}

.ext.neg .bar {
	float: right;
	background-color: red;
}

.ext.pos .bar {
	background-color: green;
}

.bar {
    height: 15px;
}